asgiref==3.5.0
beautifulsoup4==4.10.0
dj-database-url==0.5.0
Django==4.0.3
django-attachments==1.9.1
django-bootstrap5==21.3
django-crispy-forms==1.14.0
django-heroku==0.0.0
django-icons==21.3
django-taggit==2.1.0
gunicorn==20.1.0
mock==4.0.3
mysqlclient==2.1.0
Pillow==9.0.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
whitenoise==6.0.0
