{% extends "journal/base.html" %}
{% load humanize %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <a href="{% url 'createjournal' %}"><button class="btn btn-primary" type="submit">Create New Resource</button></a>
</div>

<div class="container table-responsive mw-50 mx-auto">
    <h3>Filter By Tag</h3>
    {% for tag in tags %}
        <a href="{% url 'posts_by_tag' tag.slug %}" class="badge rounded-pill bg-primary mx-1">{{tag.name}}</a>
      {% endfor %}
    <a href="{% url 'journallist' %}" class="badge rounded-pill bg-danger mx-1">Clear Filter</a>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Resource Link</th>
            <th scope="col">Tags</th>
            <th scope="col">Attachment</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Date Created</th>
            </tr>
        </thead>
   {% for journal in journal_list %}
        <tbody>
            <tr>
                <td><a href="{{ journal.link }}" target="_blank" rel="noopener noreferrer" class="mb-1"><em>{{ journal.title }}</em></a></td>
                <!-- <td>{% for tag in journal.tags.all %}
                    <div class="badge rounded-pill bg-primary mx-1">{{ tag }}</div>
                    {% endfor %}
                </td> -->
                <td>{% for tag in journal.tags.all %}
                    <a href="{% url 'posts_by_tag' tag.slug %}" class="badge rounded-pill bg-primary mx-1">{{tag.name}}</a>
                    {% endfor %}
                </td>
                {% if journal.document %}
                <td>
                    <a href="{{ MEDIA_URL }}{{ journal.document }}" download>
                        {% load static %}
                        <div class="ms-5">
                            <img src={% static 'images/attach.svg' %} />
                        </div>
                    </a>
                </td>
                {% else %}
                <td></td>
                {% endif %}
                <td><a href="{% url 'updatejournal' journal.id %}" class="mb-1">{% load static %}<div class="ms-3"><img src={% static 'images/pencil.svg' %} /></div></a></td>
                <td><a href="{% url 'deletejournal' journal.id %}" class="mb-1"><div class="ms-3"><img src={% static 'images/trash.svg' %} /></div></a></td>
                <td>{{ journal.date_created|naturaltime }}</td>
            </tr>
        </tbody>
   {% endfor %}
    </table>
{% endblock %}
</div>