{% extends "journal/base.html" %}
{% load humanize %}
{% block content %}
<div class="d-flex flex-column align-items-center">
    <a href="{% url 'createjournal' %}"><button class="btn btn-primary" type = "submit">Create New Resource</button></a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">Tags</th>
            <th scope="col">Attachment</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            <th scope="col">Date Created</th>
            </tr>
        </thead>
   {% for journal in journal_list %}
        <tbody>
            <tr>
                <td>{{ journal.title }}</td>
                <td><a href="{{ journal.link }}" class="mb-1">{{ journal.link }}</a></td>
                <td>{% for tag in journal.tags.all %}{{ tag }} / {% endfor %}</td>
                <td>attachment</td>
                <td><a href="{% url 'updatejournal' journal.id %}" class="mb-1">Update</a></td>
                <td><a href="{% url 'deletejournal' journal.id %}" class="mb-1">Delete</a></td>
                <td>{{ journal.date_created|naturaltime }}</td>
            </tr>
        </tbody>
   {% endfor %}
    </table>
{% endblock %}
</div>